.place-order{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,600px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: orange;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}

.place-order .cart-total button{
    margin-top: 30px;
}
.place-order-right img {
    width: 200px; 
    margin-top: 30px; 
    border-radius: 6px;
}
.placeorder-format-main {
    display: flex;
    align-items: center;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px 0; /* Adjusted padding */
    color: #454545;
    font-size: 14px; /* Adjusted font size */
  }
  
  .placeorder-format-main img {
    width: 62px; /* Adjusted image size */
  }
  
  .placeorder-format-main p {
    margin: 20px; /* Remove default margin */
  }
  
  .order-quantity {
    padding: 5px 10px; /* Adjusted button padding */
    font-size: 12px; /* Adjusted font size */
    margin: 20px;
  }
  .order-remove-icon {
    width: 20px;
    cursor: pointer;
  }
  